body {
  font-size: 14.4px;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__inner {
  padding: 0 4%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 auto;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 600px) {
  .header__inner {
    max-width: 960px;
  }
}

.header__logo img {
  width: 120px;
}

.header__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 30px;
}

.main-visual img {
  height: calc(100vh - 60px);
  -o-object-fit: cover;
     object-fit: cover;
}
@media screen and (min-width: 600px) {
  .main-visual img {
    height: 600px;
  }
}

main {
  text-align: center;
}

.inner {
  padding-right: 15px;
  padding-left: 15px;
}
.about {
  padding-top: 73px;
  padding-bottom: 101px;
  padding-left: 4%;
  padding-right: 4%;
}

.section__title {
  display: inline-block;
  color: #383e45;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 1px solid #383e45;
}

.about__contents {
  margin-top: 58px;
}
@media screen and (min-width: 600px) {
  .about__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 auto;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    gap: 30px;
    margin-top: 70px;
    max-width: 960px;
  }
}

.about__img {
  text-align: center;
}
.about__img img {
  width: 100px;
  border-radius: 50px;
}

.about__text {
  text-align: left;
}

.about__name {
  color: #383e45;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}
@media screen and (min-width: 600px) {
  .about__name {
    margin-top: 0;
  }
}

.about__description {
  margin-top: 10px;
  color: #383e45;
}

.bicycle {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 101px;
}

.bicycle__contents {
  padding-top: 57px;
}
@media screen and (min-width: 600px) {
  .bicycle__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 20px;
    max-width: 960px;
    margin: 0 auto;
  }
}

.bicycle__item:nth-child(n+2) {
  margin-top: 30px;
}
@media screen and (min-width: 600px) {
  .bicycle__item:nth-child(n+2) {
    margin-top: 0;
  }
}

.bicycle__title {
  margin-top: 10px;
  color: #383e45;
  font-size: 16px;
  font-weight: 600;
}

.bicycle__text {
  color: #383e45;
  margin-top: 10px;
}

.footer {
  color: #383e45;
  font-size: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}