@use "sass:map";

//マップ型変数breakpointsを定義
$breakpoints: (
  //キー 値
  "sp": "not screen and (min-width: 600px)",
  "pc": "screen and (min-width: 600px)"
) !default;

//メディアクエリ用のmixinを定義。デフォルト値はsp
@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

body {
  font-size: 14.4px;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 960px;
}

.header__logo {
  img {
    width: 120px;
  }
}

.header__nav {
}

.header__item {
  display: flex;
  gap: 30px;
}

.header__link {
}

.main-visual {
  img {
    height: calc(100vh - 60px);
    object-fit: cover;
  }

  @include mq("pc") {
    img {
      min-width: 1920px;
      height: 600px;
    }
  }
}

main {
  text-align: center;
}

.inner {
  padding-right: 15px;
  padding-left: 15px;
}
.about {
  padding-top: 73px;
  padding-bottom: 101px;
}

.section__title {
  display: inline-block;
  color: #383e45;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 1px solid #383e45;
}

.about__contents {
  margin-top: 58px;
}

.about__img {
  text-align: center;

  img {
    width: 100px;
    border-radius: 50px;
  }
}

.about__text {
  text-align: left;
}

.about__name {
  color: #383e45;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.about__description {
  margin-top: 10px;
  color: #383e45;
}

.bicycle {
  padding-bottom: 101px;
}

.bicycle__contents {
  padding-top: 57px;
}

.bicycle__item {
  &:nth-child(n + 2) {
    margin-top: 30px;
  }
}

.bicycle__title {
  margin-top: 10px;
  color: #383e45;
  font-size: 16px;
  font-weight: 600;
}

.bicycle__text {
  color: #383e45;
  margin-top: 10px;
}

.footer {
  color: #383e45;
  font-size: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
