@use "sass:map";

//マップ型変数breakpointsを定義
$breakpoints: (
  //キー 値
  "sp": "not screen and (min-width: 600px)",
  "pc": "screen and (min-width: 600px)"
) !default;

//メディアクエリ用のmixinを定義。デフォルト値はsp
@mixin mq($breakpoint: sp) {
  //map-get(マップ型変数, キー)で値を取得
  @media #{map-get($breakpoints, $breakpoint)} {
    //この中をカスタムできる
    @content;
  }
}

body {
  font-size: 14.4px;
}

img {
  max-width: 100%;
  height: auto;
}

.header {
  padding-top: 10px;
  padding-bottom: 10px;
}

.header__inner {
  padding: 0 4%;
  display: flex;
  margin: 0 auto;
  justify-content: space-between;
  align-items: center;

  @include mq("pc") {
    max-width: calc(940px + 10px * 2);
  }
}

.header__logo {
  img {
    width: 120px;
  }
}

.header__nav {
}

.header__item {
  display: flex;
  gap: 30px;
}

.header__link {
}

.main-visual {
  img {
    height: calc(100vh - 60px);
    object-fit: cover;
  }

  @include mq("pc") {
    img {
      height: 600px;
    }
  }
}

main {
  text-align: center;
}

.inner {
  padding-right: 15px;
  padding-left: 15px;

  @include mq("pc") {
  }
}
.about {
  padding-top: 73px;
  padding-bottom: 101px;
  padding-left: 4%;
  padding-right: 4%;
}

.section__title {
  display: inline-block;
  color: #383e45;
  font-size: 32px;
  font-weight: 600;
  border-bottom: 1px solid #383e45;
}

.about__contents {
  margin-top: 58px;

  @include mq("pc") {
    display: flex;
    margin: 0 auto;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-top: 70px;
    max-width: calc(930px + 15px * 2);
  }
}

.about__img {
  text-align: center;

  img {
    width: 100px;
    border-radius: 50px;
  }
}

.about__text {
  text-align: left;
}

.about__name {
  color: #383e45;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;

  @include mq("pc") {
    margin-top: 0;
  }
}

.about__description {
  margin-top: 10px;
  color: #383e45;
}

.bicycle {
  padding-left: 4%;
  padding-right: 4%;
  padding-bottom: 101px;
}

.bicycle__contents {
  padding-top: 57px;

  @include mq("pc") {
    display: flex;
    gap: 20px;
    max-width: calc(930px + 15px * 2);
    margin: 0 auto;
  }
}

.bicycle__item {
  &:nth-child(n + 2) {
    margin-top: 30px;
  }

  @include mq("pc") {
    &:nth-child(n + 2) {
      margin-top: 0;
    }
  }
}

.bicycle__title {
  margin-top: 10px;
  color: #383e45;
  font-size: 16px;
  font-weight: 600;
}

.bicycle__text {
  color: #383e45;
  margin-top: 10px;
}

.footer {
  color: #383e45;
  font-size: 8px;
  padding-top: 10px;
  padding-bottom: 10px;
  text-align: center;
}
